################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sebenzisanani/.vs/sebenzisanani/v14/.suo
/.vs/sebenzisanani/v14/.suo
