<div id="about">
    <section class="mainp4" style="background-image:url('../../img/headings/welcome.PNG')">
        <div class="homediv">
            <h1>Create an account </h1>
        </div>
    </section>
    <div class="content-lg container">
        <!-- Masonry Grid -->
        <div class="myBox">
            <div class="row">
                <h1></h1>

                <div class="col-sm-6">
                    <form>
                        <div class="form-group">
                            <label for="email">Full Names </label>
                            <input type="text" class="form-control myInputs" ng-model="name">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Email</label>
                            <input type="email" class="form-control myInputs" ng-model="email">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Cell No</label>
                            <input type="email" class="form-control myInputs" ng-model="cell">
                        </div>

                    </form>

                </div>
                <div class="col-sm-6">
                    <form>
                        <div class="form-group">
                            <label for="email">Job Sector</label>
                            <input type="text" class="form-control myInputs" ng-model="sector">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Job Title</label>
                            <input type="text" class="form-control myInputs" ng-model="title">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Job Title</label>
                            <input type="text" class="form-control myInputs" ng-model="title">
                        </div>
                     
                    </form>
                </div>
                <button type="submit" class="btn btn-default" ng-click="Register_Candidate()">Register</button>
            </div>
        </div>

        <!-- End Masonry Grid -->
    </div>

</div>
<!-- End About -->